/* Importing Google font for style Merienda */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merienda:wght@300..900&display=swap');

/* Asterick wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/* General Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /*Generic project styles*/
  color: #3a3a3a;
  font-family: 'Dancing', sans-serif;
}

/* Heading style Merienda */
h1,
h2 {
  font-family: 'Merienda', sans-serif;
  letter-spacing: 2px;
}

.hidden-heading {
  display: none;
}
/* Header */
header {
  background-color: #aff7af;
  padding: 0 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  /* display: flex; */
  margin-top: 1rem;
  text-align: center;
}

header a {
  text-decoration: none;
  color: inherit;
}


/* menu items spacing and made slightly bigger */
#menu {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
}

/* Margin bottom of each of the menu items is 1em */
#menu>li {
  margin-bottom: 1em;
}

/* Added bottom border to the first menu item */
.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with the dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2cap #3a3a3a;
  display: none;
  top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

/* nav-toggle hide*/
#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/*Main Content*/
main {
  /* Make main element takeup any surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 47px;
}

/* Hero section */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero.jpg") no-repeat center center/cover;
  position: relative;
  margin-bottom: 5px;
}

#cover-text {
  background-color: rgba(133, 127, 129, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 5px;
  width: 80%;
  min-height: 100px;
  padding-top: 10px;
  padding-left: 10px;
}

#cover-text>h2 {
  color: #ffffff;

}

/* Reasons section */
#reasons>#hobbies,
#benefits,
#speciality {
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Merienda';
  background-color: rgb(232, 232, 229);

}

#reasons h2 {

  text-align: center;
  font-size: 250%;
  background-color: rgb(244, 186, 157);
}

#benefits p {
  padding: 0 20px;
}

hr {
  border-top: 1px solid #3a3a3a;

}

#circle-cover {
 
  background: url("../images/centerimage.jpeg") no-repeat center center/cover;
  height: 90vw;
  width: 90vw;
  margin-bottom: 20px;
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
}

#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#times {
  background: url(../images/sunsetcover.jpeg) no-repeat center/cover;
  /*Handles responsivity without the need for a media query*/
  display: flex;
  flex-wrap: wrap;
}

#times div {
  color: #fafafa;;
background-color: rgba(0,0, 0, 0.3);
  padding: 15px;
  text-align: center;
  font-family: 'Merienda';
  /* This will not wrap on screens of less than 400 px wide
  each div will expand to fill the avaialable space on its row*/
  flex-basis: 200px;
flex-grow: 1;
/* Creates a grid of meetup time divs over the background image*/
border: 2px solid white;
}
/* gallery images */
#photos img {
  width: 100%;
  line-height: 1em;
}

#photos {
  line-height: 0;
}

/* Footer */
footer {
  background-color: #69f4f0;
}

/* added socail media links */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks>li>a {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  #photos {
    column-count: 2;
    column-gap: 0;
  }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 2rem;
    display: flex;
  }

  #menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 90px;
    line-height: 100px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    /* push main content down to accomodate larger header */
    margin-top: 220px;
  }

  /* Hero */
  #cover-text {
    width: 270px;
    right: 30px;
  }

  /* Gallery */
  #photos {
    column-count: 3;
  }
/* Reasons section */
  #reasons {
display: flex;
flex-direction: column;
width: 100%;
  }

}

/* Large devices (laptops and desktops , 992px and up */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  /* Gallery */
  #photos {
    column-count: 4;
  }

  nav {
    box-shadow: none;
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  #menu {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    width: 50%;
  }

  /* Main content */
  main {
    /* push main content down to accomodate larger header */
    margin-top: 200px;
  }

}

.box {
  border: solid black 1px;
  width: 200px;
}