/* Importing Google font for style Merienda */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merienda:wght@300..900&display=swap');


/* Asterick wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Dancing', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    /* displays in a row */
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Heading style Merienda */
h1 {
    font-family: 'Merienda', sans-serif;
    letter-spacing: 2px;
}

/* menu items spacing and made slightly bigger */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

/* Margin bottom of each of the menu items is 1em */
#menu>li {
    margin-bottom: 1em;
}

/* Added bottom border to the first menu item */
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with the dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2cap #3a3a3a;
    display: none;
    top:100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* nav-toggle hide*/
#nav-toggle {
display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content*/
main {
    background-color: lightblue;

    /* Make main element takeup any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */
footer {
    background-color: lightpink;
}